.profile {
    margin-top: $gs-baseline/3;
    margin-bottom: $gs-baseline/2;
}

.profile__img {
    margin: 0 $gs-gutter 0 0;
    @include border-radius(50%);
    overflow: hidden;

    img {
        width: 80px;
        height: 80px;

        @include mq(desktop) {
            width: 120px;
            height: 120px;
        }
    }
}

.profile__bio {
    @include fs-bodyCopy(1);
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    max-width: gs-span(7);

    @include mq(tablet) {
        @include fs-bodyCopy(2, true);
    }
    @include mq(desktop) {
        @include fs-bodyCopy(2, true);
        height: 120px;
    }
}
