@(classyTags: Seq[ClassyTag])(implicit request: RequestHeader)
@import conf.Switches._
@import tags._


<section>
    <h1>People Mentioned Today</h1>
    <ul>
        @classyTags.flatMap(_.getPeople).map { person =>
            <li>Name: @person.name</li>
        }
    </ul>

    <h1>Places Mentioned Today</h1>
    <ul>
        @classyTags.flatMap(_.getPlaces).map { place =>
        <li>Name: @place.name</li>
        }
    </ul>

    <h1>Events Mentioned Today</h1>
    <ul>
        @classyTags.flatMap(_.getEvents).map { event =>
        <li>Name: @event.name</li>
        }
    </ul>
</section>