@(classyTags: Seq[ClassyTag])(implicit request: RequestHeader)
@import conf.Switches._
@import tags._

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<section>
    <h1>People Mentioned Today</h1>
    <ul>
        @ClassyTag.reduceThePeople(classyTags).map { case (category, events) =>
        <li>
            <h3>@category</h3>
            @events.map { event =>
            <p>@event.name</p>
            }
        </li>
        }
    </ul>

    <h1>Places Mentioned Today</h1>
    <ul>
        @ClassyTag.reduceThePlaces(classyTags).map { case (category, events) =>
        <li>
            <h3>@category</h3>
            @events.map { event =>
            <p>@event.name</p>
            }
        </li>
        }
    </ul>

    <h1>Events Mentioned Today</h1>
    <ul>
        @ClassyTag.reduceTheEvents(classyTags).map { case (category, events) =>
            <li>
                <h3>@category</h3>
                @events.map { event =>
                <p>@event.name</p>
                }
            </li>
        }
    </ul>
</section>